.firstDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  max-height: 350px;
  margin: 0 auto;
}

.secDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleDiv h2 {
  text-align: left;
  font-size: 22px;
  margin: 0 auto;
  padding: 8px 10px;
  background-color: #551a8b;
  color: #f9f9f9;
  width: 100%;
  text-align: center;
  border-radius: 4px;
}

.titleDiv p {
  text-align: left;
  font-size: 18px;
}

.titleDiv a {
  font-size: 14px;
  color: #551a8b;
  text-decoration: underline;
  text-align: left;
}

.firstPart {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.firstPart h3 {
  margin: 0;
  font-size: 16px;
}

.firstPart h3 span {
  font-weight: 100;
  font-size: 14px;
}

.genresDiv p {
  font-size: 18px;
}

.desc {
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 10px;
  text-align: left;
}

.desc h3 {
  font-size: 20px;
  margin-bottom: 15px;
  background-color: #551a8b;
  color: #f9f9f9;
  padding: 8px 10px;
  display: inline-block;
  border-radius: 4px;
}

.desc p {
  font-size: 14px;
}

.navDiv {
  gap: 10px;
  text-align: left;
}

.navDiv h3 {
  font-size: 20px;
  background-color: #551a8b;
  color: #f9f9f9;
  padding: 8px 10px;
  display: inline-block;
  border-radius: 4px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0px;
}

.nav a {
  font-size: 14px;
  border: 1px solid #551a8b;
}

.link {
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}

.active {
  color: white;
  background-color: #551a8b;
}

.descText {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .firstDiv {
    gap: 40px;
    flex-wrap: nowrap;
  }

  .titleDiv h2 {
    font-size: 40px;
    margin: unset;
  }

  .titleDiv p {
    font-size: 30px;
  }

  .titleDiv a {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .firstPart {
    gap: 15px;
  }

  img {
    max-height: unset;
    margin: unset;
  }

  .firstPart h3 {
    font-size: 30px;
  }

  .firstPart h3 span {
    font-size: 25px;
  }

  .secDiv {
    gap: unset;
    justify-content: space-between;
  }

  .genresDiv p {
    font-size: 20px;
  }

  .desc {
    margin-top: 35px;
    margin-bottom: 35px;
    gap: 15px;
  }

  .desc h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .desc p {
    font-size: 25px;
  }

  .navDiv {
    gap: 15px;
  }

  .navDiv h3 {
    font-size: 30px;
  }

  .nav {
    gap: 15px;
    margin: 20px 0px;
  }

  .nav a {
    font-size: 25px;
    padding: 8px 25px;
  }
}
