.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 30px;

  & h2 {
    font-size: 20px;
    padding: 10px;
  }
}

.item {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.25s ease;
}

.img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: auto;
  min-height: 364px;
}
