.list {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 30px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  padding-left: 20px;
  & li {
    cursor: pointer;
    list-style-type: disc;
  }

  & h2 {
    font-size: 30px;
    padding: 10px;
  }
}

.image {
  display: block;
  object-fit: contain;
  width: 100%;
  height: auto;
}
